        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

        <footer class="bg-dark text-light text-center py-4">
            <div class="container">
                <p class="mb-0">© 2024 Yumenami. Todos los derechos reservados.</p>
            </div>
        </footer>
    </body>
</html>